<?xml version='1.0' encoding='utf-8'?>
<widget id="com.truemobile.lawbrary" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lawbrary</name>
    <description>
      The ultimate Law library, search, compare, research any lawbook.
    </description>
    <author email="henkorabie99@gmail.com" href="http://drifty.com">
      Truemobile
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
