<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lawbrary</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="lib/css/ionic.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script>
    <script src="lib/js/angular/angular-touch.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/ionic-angular.js"></script>
    <!--<script type="text/javascript" src="cordova.js"></script>-->
    <script src="lib/js/app.js"></script>
  </head>
  <body ng-app="lawbrary" ng-controller="MainCtrl">
    <side-menus>
      <!-- Center content -->
      <pane side-menu-content>
        <header class="bar bar-header bar-positive">

          <button class="button button-icon" ng-click="toggleMenu()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">{{activeBook.title}}</h1>
        </header>
        <content has-header="true">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" ng-model="searchText">
            </label>
          </div>
          <div class="card">
            <div class="item item-divider">
              {{activeBook.title}}
            </div>
            <div class="item item-text-wrap" ng-bind-html="highlight(activeBook.body, searchText)">
              
            </div>
          </div>
        </content>
      </pane>

      <!-- Left menu -->
      <side-menu side="left">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Books</h1>
          <button class="button button-icon" ng-click="newBook()">
            <i class="ion ion-plus"></i>
          </button>
        </header>
        <content has-header="true">
          <list>
            <item ng-repeat="book in books" ng-click="selectBook(book, $index)" ng-class="{active: activeBook == book}">
              {{book.title}}
            </item>
          </list>
        </content>
      </side-menu>
    </side-menus>
  </body>
</html>
